<app-workdesigns-search></app-workdesigns-search>

<div class="container mt-4">

  <div class="offset-md-1 col-md-10">

    <h1 class="mt-5 mb-2">Lista de Diseños</h1>


    <div class="card" *ngIf="this.workdesignService.workdesigns==null">
      <div class="card-body">
        <p>No hay post</p>
      </div>
      
    </div>

    <div class="card mb-5" *ngFor="let workdesign of workdesignService.workdesigns | paginate: { itemsPerPage: 3, currentPage: p }">

      <div class="card-header">
        <h4>{{workdesign.title}}</h4>
      </div>
      <div class="card-body">

        <img src="{{variable.urlBase}}/public/{{workdesign.file}}" *ngIf="workdesign.file" class="img-fluid card-img">
        <hr>
        <strong>Descripción</strong>
        {{workdesign.excerpt}}

      </div>
      <div class="card-footer">

        <a routerLink="/workdesigns/view/{{workdesign.id}}/{{workdesign.title}}" (click)="onView(workdesign)" class="btn btn-primary float-right" *ngIf="loggedIn"
          role="button">Ver Más</a>

        <strong>Fecha de publicación:</strong>
        {{workdesign.publishedDate}}
        <br>
        <strong>Categoria: </strong>
        <a style="cursor:pointer;text-decoration: underline black;" 
        (click)="refreshWorkdesignCategoryList(workdesign.category.id,workdesign.category.name)">{{workdesign.category.name}}</a>
      </div>
    </div>

    <pagination-controls class="text-center" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" autoHide="true"></pagination-controls>
  </div>
</div>
