<div class="container mt-4">
    
  <div>
    <h2 class="float-left"> Lista de Diseños </h2>
    <a class="btn btn-warning text-white float-right " style="background-color: #D9851E" routerLink="/workdesigns/create" (click)="onCreate()">
      Añadir Diseño
    </a>
  </div>

  <table class="table table-striped mt-3">
    <thead>
      <tr class="bg-dark text-white">
        <th scope="col">#</th>
        <th scope="col">Titulo de Diseño</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de publicación</th>
      </tr>
    </thead>
    <tbody>

      <tr class="" *ngFor="let workdesign of workdesignService.workdesigns | paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row">{{workdesign.id}}</th>
        <th scope="row">{{workdesign.title}}</th>
        <td scope="row">{{workdesign.status}}</td>
        <td>
          {{workdesign.publishedDate}}
          <a class="btn btn-danger text-white float-right ml-3" (click)="onDelete(workdesign.id)" >
              <i class="far fa-trash-alt"></i>
          </a>

          <a class="btn btn-secondary text-white float-right ml-3" routerLink="/workdesigns/create" (click)="onEdit(workdesign)" >
            <i class="far fa-edit"></i>
          </a>

          <a class="btn btn-secondary text-white float-right ml-3" routerLink="/workdesigns/view/{{workdesign.id}}/{{workdesign.title}}" (click)="onView(workdesign)" >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>

        </td>

      </tr>
    </tbody>
  </table>

  <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
  
</div>