<div class="container" style="margin-top:5%">

  <div class="offset-md-1 col-md-10">

    <div class="card border-secondary mb-4">

      <img src="{{workdesign.file}}" *ngIf="workdesign.file" class="img-fluid card-img-top">

      <div class="card-body">

        <h4 class="card-title">{{workdesign.title}}</h4>
        <hr>

        <div class="row">
          <div class="col">
            <strong>Dependencia: </strong><br>
            {{workdesign.dependency}}<br><br>
            <strong>Estatus Actual: </strong><br>
            {{workdesign.status}}<br>
          </div>
          <div class="col-8">
            <strong>Descripción: </strong>
            {{workdesign.description}}
          </div>
        </div>
      </div>

      <div class="card-footer">
        <strong>Subido por:</strong>
        {{workdesign.uploadBy}}
        <strong class="ml-3">Fecha de publicación:</strong>
        {{workdesign.publishedDate}}
        <br>
        <strong>Categoria: </strong>

        <a style="cursor:pointer;text-decoration: underline black;">{{workdesign.category.name}}</a>

        <a href="{{workdesign.file}}" class="btn btn-success float-right text-white">Descarga</a>
      </div>
    </div>

    <h3 class="mt-3" *ngIf="loggedIn">Complementos del diseño</h3>
    <hr *ngIf="loggedIn">

    <div class="card border-secondary mb-4">
      <div class="card-header">
        <h5 class="float-left mb-0">Nuevo Complemento</h5>
        <button class="btn btn-secondary float-right" (click)="openWorkFormDialog()">Añadir</button>
      </div>
    </div>

    <app-works-list *ngIf="loggedIn"></app-works-list>

  </div>
</div>
